<h1>Home Page</h1>

<table border="1">
    <thead>
        <tr>
            <th colspan="2">Current Posts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Title</td>
            <td>Author</td>
        </tr>
{{#if postsData}}
    {{#each postsData}}
        <tr>
            <td><a href="/Post/{{this.id}}">{{this.title}}</a></td>
            <td>{{this.User.username}}</td>
        </tr>
    {{/each}}
{{/if}}
    </tbody>
</table>
 