<h1>Dashboard</h1>

<table border="1">
    <thead>
        <tr>
            <th colspan="2">Your Posts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Title</td>
        </tr>
{{#if postsData}}
    {{#each postsData}}
        <tr>
            <td><a href="/Post/{{this.id}}">{{this.title}}</a></td>
            <td>{{this.User.username}}</td>
        </tr>
    {{/each}}
{{/if}}
    </tbody>
</table>
<a href="/dashboard/newPost"><h4>New Post</h4></a>
{{!-- <script src="/js/dashboard.js"></script> --}}