<div class="card">
    <div class="card-header">
        <h2>Create Post</h2>
    </div>
    <form id="newPost" class="card-body">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" name="post-title" class="form-input"/>

        <label for="post-body" class="form-label">Title</label>
        <input type="text" name="post-body" class="form-input"/>

        <button class="btn" type="submit">Submit</button>
    </form>
</div>

<script src="../public/JS/new.js"></script>