<div class="card">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>
    <form id="signupForm" class="card-body">
        <div>
            <label for="username" >username</label>
            <input type="text" id="username"/>
        </div>
        <div>
            <label for="password" class="formLabel">password</label>
            <input type="password" id="password" />
        </div>
        <button type="submit" id="signupBtn" class="btn">submit</button>
        <a href="/login" type="button">Already have an account?</a>
    </form>
</div>

<script src="/js/signup.js"></script>